# .gitignore

# dependencies
/node_modules
/package-lock.json

# environment
/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
/build

# misc
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?