# .gitignore file for backend

# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore package-lock.json
package-lock.json

# Ignore build folder
/dist

# Ignore .DS_Store for Mac users
.DS_Store

# Ignore npm debug logs
npm-debug.log*